body {
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
}

main {
  background-color: hsl(244, 38%, 16%);
  width: 350px;
  border-radius: 15px;
  text-align: center;
  margin: 50px;
}

div.img {
  position: relative;
  width: 350px;
  height: 257px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

div.img::after {
  position: absolute;
  content: "";
  width: 350px;
  height: 257px;
  background-color: hsla(277, 64%, 61%, 0.356);
  top: 0;
  left: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

img {
  width: 350px;
  height: 257px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

div.content {
  padding: 15px;
}

span.violet {
  color: hsl(277, 64%, 61%);
}

h1, div {
  font-weight: 700;
}

p, span.stats {
  color: hsla(0, 0%, 100%, 0.50);
  font-weight: 400;
}

span.stats {
  text-transform: uppercase;
  font-size: 15px;
}

div.flex {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}

/*Footer*/
.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

/*Media Queries*/
@media screen and (min-width: 1200px) {
  body {
    height: 95vh;
    font-size: 18px;
  }
  main {
    width: 1200px;
    height: 450px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: start;
  }

  div.img {
    position: relative;
    width: 600px;
    height: 450px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0;
  }
  
  div.img::after {
    position: absolute;
    content: "";
    width: 600px;
    height: 450px;
    background-color: hsla(277, 64%, 61%, 0.356);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0;
  }

  img {
    height: 450px;
    width: 600px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0;
  }

  div.content {
    padding: 70px;
  }
  
  div.flex {
    display: flex;
    flex-direction: row;
    height: 150px;
    justify-content: space-between;
  }
}